# Entornos virtuales
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Variables de entorno
.env
.env.production

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db


# Coverage
coverage.xml
htmlcov/

# Pytest
.pytest_cache/

# Coverage data
.coverage